
ul.slideShow
{
    padding: 0;
    margin: 0;
    height: 430px;
}

ul.slideShow li
{
    position: absolute;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
    list-style-type: none;
}